.contai{
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.3);
    background: white;
    margin-top:10px;
}
.container-main{
    background: white;
    padding: 20px; 
    border-radius: 6px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2)
}
.font_title {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.31);
    font-size: 80px;
    margin-top:30px;
}
