
<h1 class="text-center font_title" > Admin Control Food Easy. </h1>
<div class="container container-main mt-5" style="padding: 30px;">
  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" style="font-weight: bold" >Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/admin/add']" routerLinkActive="router-link-active" >Add <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/admin/list']" routerLinkActive="router-link-active" >Delete and Edit</a>
        </li>
       
      </ul>
      
    </div>
  </nav>
</div>
<router-outlet></router-outlet>



