.container-main {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.table_table_500px {
  height: 200px;
  overflow: auto;
}
.name_shop{
  transition: all ease-in-out .4s;
  cursor: pointer;
}
.name_shop:hover {
  color:rgb(0, 119, 255);
  font-weight: bold;
}
a.deleteTools i{
  cursor: pointer;
  transition: all ease-in-out .4s;
  /* color: red; */

}
a.deleteTools i:hover{
  color: red;
}