.container-main{
    background: white;
    padding: 20px; 
    border-radius: 6px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2)
}
.inforData {
    transition: all ease-in-out 0.4s;
    margin:auto;
    width:80%;
    margin-top:10px;
    cursor: pointer;

}
.inforData:hover { 
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.onClickTo {
    color: black
}
.onClickToRed {
    color:red;
}
