
<div class="container container-main mt-5"  style="padding: 30px;">
  <form class="col-12 col-md-4" style="margin:auto">
    <div class="md-form">
      <label for="Location">Search Location : </label>
      <select #selectLocation (change)="clickTOs(selectLocation)" class="form-control">
        <option *ngFor="let loca of locationData" value="{{ loca.id_location }}">{{ loca.name_location }}</option>
      </select>
    </div>
    
</form>
</div>
<div class="container container-main mt-5"  style="padding: 30px;">
 <div
  style="height: 400px; overflow: auto;"

  
 >
 <div  class='inforData' *ngFor="let shop of shopData; let i = index;" >
   <div class="row">
    <div class="col-12 col-md-4">
        <img (click)="shopSrech(shop)" src="{{shop.img_shop}}"  style="width:128px;height:128px">
    </div>
    <div class="col-12 p-3 col-md-4">
        <span for="Name" class="margin-left:20px;padding:10px;font-weight:bold"> ชื่อร้าน : {{shop.name_shop}} </span> 

    </div>
    <div class="col-12 mt-4 col-md-4">
      <p > 
      <i class="far fa-heart p-3" (click)="onClickToList(shop)" ></i>
        Like : <strong>{{shop.like}}</strong> 
      </p>
    </div>
    
   </div>
 </div>
 <h3 *ngIf="!shopData.length" class="text-center">
   ร้านอาหาร
 </h3>
</div>
</div>
<div class="container container-main mt-5"  style="padding: 30px;">
    <div
     style="height: 400px; overflow: auto;"
   
     
    >

<div class="row">
  <div class="col-12 col-md-4  inforData"  *ngFor="let food of foodsData">
   <div class="row">
     <div class="col-12 text-center mt-3">
        <img src="{{food.img_food}}"  style="width:128px;height:100px">
     </div>
    </div>
    <div class="col-12 text-left mt-3 ml-3 mb-3">
        <span for="Name" class="margin-left:20px;padding:10px;font-weight:bold"> ชื่ออาหาร : {{food.name_food}} </span>
        <br>
        <span for="Name" class="margin-left:20px;padding:10px;font-weight:bold">  ขนาดปกติ : {{food.price_food_m  | currency:"฿" }} </span>
        <br>
        <span for="Name" class="margin-left:20px;padding:10px;font-weight:bold"> ขนาดพิเศษ : {{food.price_food_l | currency:"฿" }} </span>
    </div>

    <div class="row">
      <div class="col-12 col-md-8">
      <p > 
      <i class="far fa-heart p-3"  (click)="foodLike(food)"  ></i>
        Like : <strong>{{food.food_like}}</strong> 
      </p>
     </div>
     </div>
  </div>

    </div>
    <h3 *ngIf="!shopData.length" class="text-center">
      เมนูอาหาร
    </h3>
     
   
   </div>
   </div>


